//**
// Buttons
//**

// Default button
.btn {
  @include border-radius($btn-br);
  background: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  display: inline-block;
  height: $line-height;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 25px;
  font-size:14px;
  text-align: center;
  text-decoration: none;
  line-height: $line-height;
  &:hover,
  &:focus {
    background: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
    text-decoration: none;
  }

  &:active {
    background: darken($secondary-color, 10);
    border-color: darken($secondary-color, 10);
  }
}

// Primary action button
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: #fff;
  text-decoration: none;

  &:hover,
  &:focus {
    background: darken($secondary-color, 5);
    border-color: darken($secondary-color, 5);
    color: #fff;
  }

  &:active {
    background: darken($secondary-color, 10);
    border-color: darken($secondary-color, 10);
    color: #fff;
  }
}

// Larger button
.btn-lg {
  font-size: 1.4em;
  height: $line-height*1.5;
  padding: 0 60px;
}

// Smaller button
.btn-sm {
  font-size: .85em;
  height: $line-height*.7;
  padding: 0 10px;
}

// Link button - a button that looks like a link
.btn-link {
  @include box-shadow(none);
  background: transparent;
  border: 0;
  color: $primary-color;
  text-shadow: none;
  text-transform: none;

  &:hover,
  &:focus {
    background: transparent;
    color: $primary-color;
    text-decoration: underline;
  }
}




// Responsive styles if needed
// @include responsive($big-break) {
// }
@include responsive($small-break) {
  .btn {
    //display: block;
    margin-bottom: 10px;
    //width: 100%;
  }
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
